.link{
    width: 33%;
 
    color: white;
    background-color: grey;
    text-align: center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: grey;
    display:flex;
    align-items: center;
    justify-content: center;
    height:70px;
}
.li:hover{
    background-color: black;
}